html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  #display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: rgba(146, 199, 63, 0.4);
  opacity:0.9;
}
form {
  background: white;
  width: 90%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
  margin-left: 20px;
}
form header {
  background: green;
  padding: 10px 10px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
form input,select,textarea {
  display: block;
  width: 80%;
  margin-left: 20px;
  #padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
input[type="submit"] , input[type="button"] {
  position: relative;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: green;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}